body {
    margin: 0px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 20px auto;
    font-size: xx-large;
}

#input {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.variables {
    margin: 0px 15px;
    border-width: 3px;
    border-radius: 30px;
    height: 35px;
    padding: 0px 20px;
}

#to_do {
    width: 50%;
    border-width: 3px;
    border-radius: 30px;
    font-size: 20px;
}

#input button {
    width: 8vw;
    border-radius: 30px;
}

#clock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: 20px 0px;
    font-size: 20px;
}


.box{
    margin: 50px 30px;
}

ul{
    display: flex;
    justify-content:space-around;
    padding: 1.2em;
}
.column{
    width: 25%;
    display: flex;
    justify-content: center;

}

.remove{
    border-radius: 30px;
    width: 10vw;
}

.row{
    margin: 0px 20px;
}
#bolds{
    border: 2px solid black;
    border-radius: 10px;
}

#bolds > li{
    font-weight: bolder;
    font-size:x-large;
    
}